.containerFilmCards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.loadingSpinner {
    display: flex;
    justify-content: center;
}
.button_showMore {
    width: 161px;
    height: 40px;
    display: block;

    margin: 0 auto 64px;
    padding: 8px 24px;

    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: var(--theme-default-bgColorButton);
    border: none;
    border-radius: 40px;
}



