@font-face {
    font-family: "Exo 2";
    src: url("Exo_2/Exo2-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Exo 2";
    src: url("Exo_2/Exo2-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Exo 2";
    src: url("Exo_2/Exo2-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Exo 2";
    src: url("Exo_2/Exo2-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Exo 2";
    src: url("Exo_2/Exo2-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}