.app__wrapper {
    max-width: 1796px;

    padding: 0 62px;
    margin: 0 auto;

    font-weight: 500;
}
.app__main {
    display: flex;
}

@media (max-width: 767px) {
    .app__wrapper {
        padding: 0 40px;
    }
}
@media (max-width: 479px) {
    .app__wrapper {
        padding: 0 24px;
    }
}